#POSTGRES
POSTGRES_HOST=postgres-db
POSTGRES_PORT=5432
POSTGRES_USER=us_postgres
POSTGRES_PASS=ort
POSTGRES_DATABASE=postgres_db

#PGADMIN
PGADMIN_DEFAULT_EMAIL=martin@ort.edu.ar
PGADMIN_DEFAULT_PASSWORD=ort
PGADMIN_PORT=5050

#ADMIN-MONGO
ADMIN_MONGO_PORT=1234

#GRAFANA
GRAFANA_PORT=3001

#QuantumLeap
QUATUMLEAP_PORT=8668

#CREATEDB
CREATEDB_PORT=4200